<% provide(:name, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= image_tag @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
  </div>
  <div class="span8">
    <% if @user.instaposts.any? %>
      <h3>Instaposts (<%= @user.instaposts.count %>)</h3>
      <ol class="microposts">
        <%= render @instaposts %>
      </ol>
      <%= will_paginate @instaposts %>
    <% end %>
  </div>
</div>

</div>